
.footerContainer{
    height: 117px;
    width: 100%;
    background-color: #DFE6ED;
    padding: 14px 10px;
    display: flex;
    flex-direction: initial;
}

.footerContainer div{
    height: 89px;
    width: 64px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer div img{
    width: 48px;
    height: 72px;
}

.footerText{
    margin: auto 14px;
    font-size: 26px;
    font-weight: 400;
    color: #293845;
    display: flex;
    flex-direction: column;
}