*{
    box-sizing: border-box;
}

.chooseSeatContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seats{
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    width: 100%;
    max-width: 375px;
    min-height: 203px;
    margin: 0 auto;
    padding: 0 17px 0 24px;
}
.seat{
    width: 26px;
    height: 26px;
    background-color: #C3CFD9;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 18px 0;
    font-size: 11px;

}

.selected{
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.unavailable{
    background-color: #FBE192;
}

.reserveSeat{
    width: 255px;
    height: 42px;
    background-color: #E8833A;
    color: #fff;
    border-radius: 3px;
    border: none;
    margin: 57px auto 0 auto;
}